# This code is a dummy example of LinearRegression model from dataset

In [41]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("housing_data.csv")

In [3]:
data.head()

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
0,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
1,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
2,10014,1650000.0,1,1,718,140 CHARLES ST APT 4D,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
3,10014,760000.0,3,2,1538,38 JONES ST,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
4,10014,1100000.0,1,1,600,81 BEDFORD ST APT 3F,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601

In [19]:
data["Beds"].unique()

array([ 2,  1,  3,  6,  4, 24,  5,  7,  8, 10,  9, 12, 14, 16, 11, 32, 13,
       34, 22, 36, 30, 20, 17, 18, 26, 37, 28, 25, 44, 46, 54],
      dtype=int64)

In [20]:
x = data["Beds"]
y = data["Price"]

In [21]:
x.head()

0    2
1    2
2    1
3    3
4    1
Name: Beds, dtype: int64

In [22]:
y.head()

0    3999000.0
1    3999000.0
2    1650000.0
3     760000.0
4    1100000.0
Name: Price, dtype: float64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.6)

In [25]:
x_train.shape

(23988,)

In [26]:
x_test.shape

(15993,)

In [27]:
y_train.shape

(23988,)

In [28]:
y_test.shape

(15993,)

In [32]:
x_train = np.array(x_train).reshape(-1,1)
x_test = np.array(x_test).reshape(-1,1)
y_train = np.array(y_train).reshape(-1,1)
y_test = np.array(y_test).reshape(-1,1)

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
model = LinearRegression()

In [35]:
model.fit(x_train,y_train)

LinearRegression()

In [36]:
from sklearn.metrics import mean_squared_error

In [38]:
pred = model.predict(x_test)

In [39]:
x = mean_squared_error(pred,y_test)

In [40]:
print(x)

838975114307.7173